@model IEnumerable<CarStoreViewModels.ProductViewModel> 

@{
    ViewBag.Title = "Products Gallery";
}

<script type="text/x-kendo-tmpl" id="template">
    <div class="product">
        <img src= "@String.Format("{0}{1}", @Url.Content("~/Content/Images/"),"#:ImageGUID#")"/>
        <h3>#:Brand#</h3>        
        @using (Html.BeginForm("Details", "Product"))
        {
            @Html.Hidden("productId", "#:ID#")
            <input class="gallery-btn" type="submit" value="#:kendo.toString(Price, "c")#"/>
        }
    </div>
</script>

<div class="demo-section k-content wide">
    @(Html.Kendo().ListView<CarStoreViewModels.ProductViewModel>(Model)
    .Name("listView")
    .TagName("div")
    .ClientTemplateId("template")
    .DataSource(dataSource => dataSource
        .PageSize(8)
        .ServerOperation(false)
     )
    .Pageable()
    .Navigatable()
    )
</div>

<style>
    #listView {
        padding: 10px 5px;
        margin-bottom: -1px;
    }

    .product {
        float: left;
        position: relative;
        width: 200px;
        height: 200px;
        margin: 0 5px;
        padding: 0;
    }

        .product img {
            width: 200px;
            height: 150px;
        }

        .product h3 {
            margin: 0;
            padding: 3px 5px 0 0;
            max-width: 200px;
            overflow: hidden;
            line-height: 1.1em;
            font-size: .9em;
            font-weight: normal;
            text-transform: uppercase;
            color: #999;
        }
        .product .gallery-btn {
            visibility: hidden;
            background-color: rgba(0,0,0,0.75);
        }
        
        .product:hover .gallery-btn {
            visibility: visible;
            position: absolute;
            width: 200px;
            height: 200px;
            top: 0;
            margin: 0;
            padding: 0;
            border: none;
            line-height: 200px;
            vertical-align: middle;
            text-align: center;
            color: #fff;
            transition: background .2s linear, color .2s linear;
            -moz-transition: background .2s linear, color .2s linear;
            -webkit-transition: background .2s linear, color .2s linear;
            -o-transition: background .2s linear, color .2s linear;
        }

    .k-listview:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
</style>
